.contacts-list {
    display: flex;
    margin-left: auto;

    :first-child {
        margin-right: 50px;
    }
}
.contacts-list-info {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-color-theme-dark);
    transition: color 250ms var(--transition-timing-function);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.contacts-list-info > svg {
    margin-right: 10px;
    fill: var(--primary-text-color-theme-dark);
    transition: fill 250ms var(--transition-timing-function);
}

.contacts-list-info:hover > svg,
.contacts-list-info:focus > svg {
    fill: var(--accent-color);
}